.about-card {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  /* background-color: #f8f8f8; */
  /* border-radius: 10px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.about-card h1 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 10px;
  text-decoration: underline;
}

.user-card {
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  text-align: center;
}
